name: Test
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - v1
      - v2

jobs:
  unix:
    strategy:
      matrix:
        version: [ 20, 22, 24 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - run: npm run test:import
      - run: npm run test:e2e:wd
      - run: npm run test:e2e:bidi
      - name: junit report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: './test-e2e/report.xml'
          fail_on_failure: true

